
<head>
  <title>{{title}}</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <div class="holder">
      <img src="/images/logo.jpg" with="100" alt="Todo Deportes">
      <h1>Deportes Populares</h1>
    </div>
  </header>
  
  
  <footer>
    <div class="holder">
      <h3>Creado por Gaspar Reines</h3>
    </div>
  </footer>
</body>
