<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<nav>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/basquet">basquet</a></li>
        <li><a href="/rugby">rugby</a></li>
        <li><a href="/consultas">consultas</a></li>
    </ul>
</nav>